@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDeny - 拒絕存取，權限不足、帳號或密碼有錯</title>
</head>
<body>
    <font color="red"><h3>拒絕存取，權限不足、帳號或密碼有錯。</h3></font>

    <font color="red"><h3>拒絕存取，權限不足、帳號或密碼有錯。</h3></font>

    搭配 Startup.cs的 .AddCookie()  options.AccessDeniedPath設定
</body>
</html>