@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout - 登出</title>
</head>
<body>
    <h3>您已經登出 LogOut</h3>
    <hr />

    <a href="/Home/Index">回首頁 -- /Home/Index</a>
    <br />
    

</body>
</html>
