@{
    Layout = "_Layout";
}




<form action = "SearchRevenueIn" method = "get">

 
 <label> 開始日期選擇 </label>
    
    <input type="date" id="FromDate" name="FromDate">

            <label> 結束日期選擇 </label>
    <input type="date" id="ToDate" name="ToDate">

            <p><input type = "submit" value = "查期間營收金額"></p >
</form>


